<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
    <button class="btn btn-success" (click)="redirectToLoadingPage()">Go to loading page</button>
  </div>
  <div class="col-4">

  </div>
</div>

<!-- <div class="row dialog-icon" *ngIf="!isShow" (click)="switchChat()">
  <div class="position-relative icon-chat-hover"
    style="width: 50px;height: 50px;border-radius:50%;border: 2px solid #e84118; padding: 2px;">
    <img src="../../../assets/images/chatbot-icon.jpg" class="img-fluid rounded-circle" alt="">
    <span
      class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </div>
</div>
<div class="row mt-4 dialog-chat" *ngIf="isShow">
  <div class="col">
    <div class="card mx-auto" style="max-width: 400px;">
      <div class="card-header bg-transparent">
        <div class="navbar navbar-expand p-0">
          <ul class="navbar-nav me-auto align-items-center">
            <li class="nav-item pe-3">
              <fa-icon [icon]="faAngleLeft"></fa-icon>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                <div class="position-relative"
                  style="width: 50px;height: 50px;border-radius:50%;border: 2px solid #e84118; padding: 2px;">
                  <img src="../../../assets/images/chatbot-icon.jpg" class="img-fluid rounded-circle" alt="">
                  <span
                    class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">Chat Bot</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" (click)="switchChat()">
              <div class="bg-transparent border-0">
                <button class="btn btn-light text-secondary" style="border-radius: 50%;">
                  <fa-icon [icon]="faX"></fa-icon>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body p-1"
        style="height: 500px; width: 400px;overflow-y: auto;overflow-x: hidden; padding-bottom: unset !important;" #scrollMe>
        <div *ngFor="let msg of messages;let i = index">
          <div class="d-flex align-items-baseline" [class.mt-4]="i !== 0 && messages[i - 1].personal_id !== 1" *ngIf="msg.personal_id === 1">
            <div class="pe-4" style="word-break:break-all">
              <div class="card card-text-left d-inline-block p-2 px-3 m-1">
                  <div *ngIf="msg.button_id === null">
                    {{msg.message}}
                  </div>
                  <div *ngIf="msg.button_id === 1">
                    <span *ngFor="let topic of msg.topic;let idx = index" class="text-primary">
                      <span (click)="answerQuestion(topic)" style="cursor: pointer">{{topic}} </span>
                      <span *ngIf="idx !== msg.topic.length - 1" class="text-dark"> | </span>
                    </span>
                  </div>
                  <div *ngIf="msg.button_id === 2">
                    <span class="text-primary">
                      <span style="cursor: pointer">{{msg.message}} </span>
                    </span>
                  </div>
              </div>
            </div>

          </div>
          <div class="d-flex align-items-baseline text-end justify-content-end" [class.mt-4]="i !== 0 && messages[i - 1].personal_id !== 2" *ngIf="msg.personal_id === 2">
            <div class="ps-4" style="word-break:break-all">
              <div class="card card-text-right d-inline-block p-2 px-3 m-1">
                <div *ngIf="msg.button_id === null">
                  {{msg.message}}
                </div>
                <div *ngIf="msg.button_id === 1">
                  <span *ngFor="let topic of msg.topic;let i = index" class="text-primary">
                    <span (click)="answerQuestion(topic)" style="cursor: pointer">{{topic}} </span>
                    <span *ngIf="i !== msg.topic.length - 1" class="text-dark"> | </span>
                  </span>
                </div>
                <div *ngIf="msg.button_id === 2">
                  <span *ngFor="let topic of msg.topic;let i = index" class="text-primary">
                    <span style="cursor: pointer">{{topic}} </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white w-100 bottom-0 m-0 p-1">
        <div class="input-group">

          <input type="text" id="send-msg" [disabled]="false" [(ngModel)]="textInput" class="form-control border-0" placeholder="Write a message..."
            (keydown)="onKeydownMessages($event)">

          <div class="input-group-text bg-transparent border-0">
            <button [disabled]="false" class="btn btn-light text-secondary" (click)="updateMessages(textInput)">
              <fa-icon [icon]="faPaperPlane"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
